@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


$font-inter: 'Inter', sans-serif;


$gray: #F3F2F0;
$black: #010101;
$red: #D40000;
$white: #FFFFFF;

html{
    font-size: 10px;
}
body{
    font-family: $font-inter;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
.header{
    padding-top: 4.1rem;
    background-color: $gray;
    padding-bottom: 6rem;
}
.navitems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__nav{
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__link{
        text-decoration: none;
        font-size: 1.4rem;
        color: $black;
        font-weight: 400;
        line-height: 150%;
        transition: .2s linear;
        &:hover{
            color: $red;
        }
    }
    &__breadcrumbs{
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }
    &__tel{
        color: $black;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        transition: .2s linear;
        &:hover{
            color: $red;
        }
    }
    &__mail{
        display: flex;
        align-items: center;
        gap: 1.3rem;
        color: $black;
        text-decoration: none;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        transition: .2s linear;
        &:hover{
            color: $red;
        }
        &::before{
            content: "";
            display: block;
            width: 1px;
            height: 24px;
            background-color: $black;
            opacity: 0.2;
            pointer-events: none;
        }
    }
}
.logo{
    color: $black;
    font-size: 7.4rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 90px;
    margin: 0;
    position: relative;
    z-index: 1;
}
.line{
    width: 100%;
    height: 1px;
    background-color: $black;
}
.socialnav{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2.8rem;
    padding: 0;
    margin: 0;

    
    &__link{
        text-decoration: none;
        display: flex;
        gap: 2.8rem;
        font-weight: 400;
        font-size: 1.6rem;
        color: $black;
        line-height: 150%;
        transition: .2s linear;
        &:hover{
            color: $red;
        }
        &_slash{
            &::after{
                content: "";
                display: block;
                width: 1px;
                height: 24px;
                background-color: $black;
                opacity: 0.2;
                pointer-events: none;
                &:hover{
                    pointer-events: none;
                }
            }
        }
    }
}
.main{
    background-color: $gray;
    &__cover{
        height: 310px;
        background-image: url(../img/main.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 13rem;
    }
    &__name{
        position: relative;
        margin-top: 0;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 5.3rem;
        z-index: 1;
        &::before{
            content: "";
            background-color: #FFFFFF;
            border-radius: 100%;
            position: absolute;
            width: 253px;
            height: 253px;
            z-index: -1;
            top: -44px;
            left: -128px;
        }
        &::after{
            content: "";
            background-image: url(../img/triangle.svg);
            background-size: 76px 72px;
            background-repeat: no-repeat;
            border-radius: 100%;
            position: absolute;
            width: 76px;
            height: 95px;
            z-index: 0;
            top: -21px;
            left: -151px;
        }
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10rem;
        padding-bottom: 5.9rem;
    }
    &__discuss{
        display: flex;
        align-items: center;
        gap: 16px;
        color: $black;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 150%;
        flex-wrap: wrap;
        margin-bottom: 2px;
        position: relative;
        &:hover{
            &::before{
                display: block;
            }
        }
        &::after{
            display: block;
            content: "";
            width: 17px;
            height: 12px;
            background-image:url(../img/arrow.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &::before{
            display: none;
            content: "";
            position: absolute;
            pointer-events: none;
            bottom: -11px;
            left: 0;
            width: 72%;
            height: 2px;
            background-color: $black;
            box-sizing: border-box;
            align-self:flex-end;
            transition: .2s linear;
            order: 1;
        }
        
    }
}